body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.background-wrapper {
    background-image: url('AAA.jpg');
    background-size: cover;
}
.texte{
	text-align: center;
}
.occasion-button {
    text-decoration: none;
    color: #333;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.texte1 {
    color: rgb(55, 107, 128);
    text-align: center;
    padding: 20px;
}

h1 {
    color: rgb(51, 0, 255);
    font-size: 30px;
    text-align: center;
    padding: 50px;
}


.caption {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.thumbnail {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.thumbnail .caption {
    padding: 15px;
}

.improved-text {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

footer .infos {
    margin-bottom: 20px;
}

footer .infos h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

footer .infos p {
    font-size: 14px;
    color: #333;
}

footer .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.container {
    width: 80%;
    margin: auto;
}
.weekly-bulletin {
    margin-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.custom-row {
    justify-content: space-around;
}
